---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Alvaro > Resume">
	<main class="flex flex-col mx-48 mt-20 items-center">
		<div class="flex flex-col gap-4">
			<p class="text-center text-6xl font-m-plus-2 font-thin"><span>Alvaro</span> J. Gaona</p>
			<p class="text-center">Buenos Aires, Argentina</p>
		</div>
	</main>
</Layout>
